html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

ul li {
  display: inline;
  list-style-type: none;
  margin-right: 36px;
}

a {
  text-decoration: none;
}

.header-main {
  display: flex;
  flex-direction: column;
  background-image: url(img/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 165px;
  gap: 30px;
  border: 2px solid black;
}

.headline-btn {
  width: 225px;
  height: 60px;
  padding: 20px 50px;
}
