html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 230px;
}

.nav-list li {
  display: inline;
  list-style-type: none;
  margin-right: 50px;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #292929;
}

.nav-btn > * {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.sign-in {
  border: none;
  background-color: #ffffff;
  margin-right: 20px;
}

.green-btn {
  background-color: #01996d;
  padding: 13px 50px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.header-main {
  display: flex;
  flex-direction: column;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding: 160px 230px;
  gap: 30px;
}

.headline-btn {
  width: 225px;
  height: 60px;
  padding: 20px 50px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #01996d;
  font-size: 45px;
}

.para {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 160px 230px;
}

.mini-heading {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 13px;
}

h2 {
  font-family: Georgia;
  font-weight: 700;
  font-size: 50px;
  color: #01996d;
}

.how-it-works-info {
  display: flex;
  gap: 136px;
  margin-bottom: 170px;
}

.cards {
  display: flex;
  gap: 95px;
  flex: 1;
  justify-content: center;
}

.card-heading {
  margin-bottom: 150px;
}

[class^="card-0"] {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 390px;
}

.card-num {
  position: absolute;
  z-index: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 150px;
  color: #01996d33;
}

#overlay {
  position: absolute;
  font-size: 20px;
  z-index: 2;
  font-family: Georgia;
  font-weight: 700;
  font-size: 30px;
  margin-left: 65px;
  margin-top: 105px;
}

.card-02 {
  margin-top: 210px;
}

.card-03 {
  margin-top: 90px;
}

.section-2 {
  display: flex;
  background-color: #245852;
  padding: 160px 230px;
  height: 100vh;
  gap: 70px;
}

.kayla-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 120px;
}

.white-heading {
  color: #ffffff;
}

.video {
  position: absolute;
  z-index: 1;
}

#play-overlay {
  position: absolute;
  z-index: 2;
  margin-left: 400px;
  margin-top: 200px;
}

.section-3 {
  display: flex;
  padding: 160px 230px;
  height: 100vh;
}

.mikayla-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: 400px;
  left: 160px;
  gap: 20px;
  width: 295px;
  height: 290px;
  background-color: #ffffff;
  border-radius: 5px;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.mikayla-card-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mikayla-card-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.line hr {
  height: 1px;
  border: 0;
  background: black;
  margin-bottom: 6px;
}

.mikayla-portrait {
  display: block;
  width: 57px;
  height: 57px;
}

.mikayla-card-h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16px;
}

.mikayla-list li {
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 16px;
}

.mikayla-big-img {
  position: absolute;
  z-index: 1;
}
